[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

pytest = "*"
tox = "*"
mock = "*"
"pytest-mock" = "*"
flask = "*"
coverage = "*"
"pytest-cov" = "*"


[packages]

pytube = "*"
validators = "*"
gmusicapi = "*"
ffmpy = "*"
"oauth2client" = "*"
selenium = "*"
celery = "*"
redis = "*"